a:link {
color: rgb(192,96,255);
text-decoration: none;
}

a:visited {
color: rgb(255,64,128);
text-decoration: none;
}

a:hover {
color: rgb(140,168,105);
text-decoration: underline;
}

a:active {
color: rgb(255,255,255);
text-decoration: underline;
}
body {
background-color: rgb(0,0,0);
color: rgb(128,0,255);
}
nav {
background: linear-gradient(to bottom, #050210, #100715, #201530, #050210);
height: 128px;
}
header {
background: linear-gradient(to bottom, #050210, #100715, #201530, #050210);
height: 128px;
}
h1 {
background: linear-gradient(to bottom, #402060, #8040c0);
height: 40px;
}
h2 {
background-color: rgb(128,0,255);
color: rgb(241,255,209);
}
h3 {
background-color: rgb(64,64,64);
color: rgb(128,0,255);
}
h4 {
background: linear-gradient(to bottom, #802040, #201040, #6030e0);
color: rgb(240,80,160)
}
h5 {
background: linear-gradient(to bottom, #402040, #301530, #6030e0);
color: rgb(160,80,240)
}
p {
line-height: 1.4;
color: rgb(128,64,255);
background-color: rgb(0,0,0);
text-shadow: 0 0 5px rgb(128,0,255), 0 0 10px rgb(128,0,255), 0 0 15px rgb(128,0,255), 0 0 20px rgb(128,0,255)
}
p1 {
line-height: 1.4;
color: rgb(128,64,255);
background-color: rgb(0,0,0);
text-shadow: 0 0 5px rgb(128,0,255), 0 0 10px rgb(128,0,255), 0 0 15px rgb(128,0,255), 0 0 20px rgb(128,0,255)
}
p2 {
line-height: 1.4;
color: rgb(248,249,235);
background-color: rgb(0,0,0);
text-shadow: 0 0 5px rgb(248,249,235), 0 0 10px rgb(248,249,235), 0 0 15px rgb(248,249,235), 0 0 20px rgb(248,249,235)
}
p3 {
line-height: 1.4;
color: rgb(192,32,255);
background-color: rgb(0,0,0);
text-shadow: 0 0 5px rgb(192,32,255), 0 0 10px rgb(192,32,255), 0 0 15px rgb(192,32,255), 0 0 20px rgb(192,32,255)
}
p4 {
line-height: 1.4;
color: rgb(192,128,255);
background-color: rgb(0,0,0);
text-shadow: 0 0 5px rgb(192,128,255), 0 0 10px rgb(192,128,255), 0 0 15px rgb(192,128,255), 0 0 20px rgb(192,128,255)
}
p5 {
line-height: 1.4;
color: rgb(255,128,192);
background-color: rgb(0,0,0);
text-shadow: 0 0 5px rgb(255,128,192), 0 0 10px rgb(255,128,192), 0 0 15px rgb(255,128,192), 0 0 20px rgb(255,128,192)
}
p6 {
line-height: 1.4;
color: rgb(255,255,128);
background-color: rgb(0,0,0);
text-shadow: 0 0 5px rgb(255,255,128), 0 0 10px rgb(255,255,128), 0 0 15px rgb(255,255,128), 0 0 20px rgb(255,255,128)
}
a {
line-height: 1.4;
color: rgb(192,32,255);
background-color: rgb(0,0,0);
text-shadow: 0 0 5px rgb(192,128,255), 0 0 10px rgb(192,128,255), 0 0 15px rgb(192,128,255), 0 0 20px rgb(192,128,255)
}
hr {
border: 0; /* Remove the default border */
height: 4px; /* Set the height of the horizontal rule */
background-image: linear-gradient(to right, #000000, #401080, #8020f0, #c080f0, #8020f0, #401080, #000000); /* Add a gradient background */
margin: 8px 0; /* Add margin above and below the horizontal rule */
}
.hiddenText {
	display: none;
}
.container {
	display: flex;
}
.column {
	flex: 1;
	padding: 10px;
	box-sizing: border-box;
}
.column-port {
	background: linear-gradient(to bottom, #402080, #301530, #6030e0), linear-gradient(to right, #402080, #301530, #6030e0);
	background-blend-mode: color-dodge;
	text-align: start;
}
.column-starboard {
	background: linear-gradient(to bottom, #402080, #301530, #6030e0), linear-gradient(to left, #402080, #301530, #6030e0);
	background-blend-mode: color-dodge;
	text-align: end;
}
.code_box {
	background: linear-gradient(to bottom, #201020, #150815, #301580);
	border: 2px solid #802040;
	padding: 2px;
	overflow-x: auto; /* Add horizontal scroll if the code is too wide */
	white-space: pre-wrap; /* Preserve whitespace and allow wrapping */
	word-wrap: break-word; /* Break long words */
}
.code_box code {
	font-family: 'Courier New', Courier, monospace;
}
.query_field {
	background-color: #100515;
	background: linear-gradient(to bottom, #201020, #150815, #301580);
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.query_field input {
	padding: 0px;
	border: none;
	outline: none;
	flex-grow: 0;
}
.query_field button {
	padding: 2px 16px;
	border: none;
	background: linear-gradient(to bottom, #8065b0, #605080, #8065b0, #201530);
	color: #100510;
	cursor: crosshair;
}
.query_field button:hover {
	background: linear-gradient(to bottom, #a085d0, #8070a0, #a085d0, #403550);
}
.query_field button:active {
	background: linear-gradient(to bottom, #d085d0, #a070a0, #d085d0, #503550);
}



/*button {
border: none;
padding: 0;
margin: 0;
background: none;
font-size: 100%;
vertical-align: baseline;
font-family: inherit;
font-weight: inherit;
color: inherit;
-webkit-appearance: none;
appearance: none;
}*/
button {
color: #100515;
border: 0px; /* Remove borders */
background: linear-gradient(to bottom, #8065b0, #605080, #8065b0, #201530);
padding: 2px 16px; /* Some padding */
text-align: center; /* Centered text */
text-decoration: none; /* Remove underline */
display: inline-block; /* Make the button inline-block */
font-size: 12px; /* Increase font size */
margin: 0px 0px; /* Some margin */
cursor: crosshair; /* Pointer/hand icon */
border-radius: 0px; /* Rounded corners */
}

/* Styled button */

.wm_button_interstage_tilt {
color: #100515;
border: 0px; /* Remove borders */
background: linear-gradient(to bottom, #8065b0, #605080, #8065b0, #201530), linear-gradient(to left, #ffffff, #202020, #808080, #000000) background-blend-mode: color-dodge;
padding: 2px 16px; /* Some padding */
text-align: center; /* Centered text */
text-decoration: none; /* Remove underline */
display: inline-block; /* Make the button inline-block */
font-size: 12px; /* Increase font size */
margin: 0px 0px; /* Some margin */
cursor: crosshair; /* Pointer/hand icon */
border-radius: 0px; /* Rounded corners */
clip-path: polygon(80% 0%, 100% 100%, 20% 100%, 0% 0%);
}
.wm_button_tail {
color: #100515;
border: 0px; /* Remove borders */
background: linear-gradient(to bottom, #8065b0, #605080, #8065b0, #201530), linear-gradient(to left, #ffffff, #202020, #808080, #000000) background-blend-mode: color-dodge;
padding: 2px 16px; /* Some padding */
text-align: center; /* Centered text */
text-decoration: none; /* Remove underline */
display: inline-block; /* Make the button inline-block */
font-size: 12px; /* Increase font size */
margin: 0px 0px; /* Some margin */
cursor: crosshair; /* Pointer/hand icon */
border-radius: 0px; /* Rounded corners */
clip-path: polygon(80% 0%, 100% 100%, 0% 100%, 0% 0%);
}

.wm_button_snout {
color: #100515;
border: 0px; /* Remove borders */
background: linear-gradient(to bottom, #8065b0, #605080, #8065b0, #201530), linear-gradient(to left, #ffffff, #202020, #808080, #000000) background-blend-mode: color-dodge;
padding: 2px 16px; /* Some padding */
text-align: center; /* Centered text */
text-decoration: none; /* Remove underline */
display: inline-block; /* Make the button inline-block */
font-size: 12px; /* Increase font size */
margin: 0px 0px; /* Some margin */
cursor: crosshair; /* Pointer/hand icon */
border-radius: 0px; /* Rounded corners */
clip-path: polygon(20% 100%, 0% 0%, 100% 0%, 100% 100%);
}



.wm_button {
color: #100515;
border: 0px; /* Remove borders */
background: linear-gradient(to bottom, #8065b0, #605080, #8065b0, #201530);
padding: 2px 16px; /* Some padding */
text-align: center; /* Centered text */
text-decoration: none; /* Remove underline */
display: inline-block; /* Make the button inline-block */
font-size: 12px; /* Increase font size */
margin: 0px 0px; /* Some margin */
cursor: crosshair; /* Pointer/hand icon */
border-radius: 0px; /* Rounded corners */
}

/* Hover effect */
.wm_button:hover {
background: linear-gradient(to bottom, #a085d0, #8070a0, #a085d0, #403550);
}

/* Active effect */
.wm_button:active {
background: linear-gradient(to bottom, #d0a5d0, #a070a0, #d085d0, #503550);
}



input[type="text"] {
background-color: #100515; /* Set the background color to black */
color: #a080c0; /* Set the text color to white for better contrast */
border: 1px solid #804060; /* Optional: Add a border for better visibility */
padding: 0px; /* Optional: Add padding for better usability */
font-size: 16px; /* Optional: Set the font size */
}







.triggerImage {
    width: 16px; /* Set the desired width */
    height: 16px; /* Set the desired height */
    cursor: crosshair;
}

.popover {
    display: none; /* Initially hidden */
    position: absolute;
    background: linear-gradient(to bottom, #8065b0, #605080, #8065b0, #201530);
    border: 4px ridge #8060e0;
    box-shadow: 0 10px 10px rgba(60, 40, 120, 0.5);
    padding: 0px;
    z-index: 1000;
    max-width: 256px;
    word-wrap: break-word;
}

.popover::after {
    content: '';
    position: absolute;
    top: -5px;
    left: 10px;
    border-width: 0px;
    border-style: solid;
    border-color: #6040120 transparent transparent transparent;
}

.popover img {
    max-width: 256;
    height: 64;
    display: block;
    margin-bottom: 0px;
}

.popover p {
    margin: 0;
}

